[package]
name = "coh3-stats-desktop-app"
version = "1.2.8"
description = "COH3 Stats Desktop App"
authors = ["coh3stats team"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.75"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.2", features = [] }

[dependencies]
keyring = "2"
log = "^0.4"
machine-uid = "0.2"
nom = "7"
notify = "6"
oauth2 = "4"
regex = "1"
reqwest = { version = "0.11", features = ["json", "multipart"] }
rev_lines = "0.3"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.2", features = [ "process-all", "window-all", "path-all", "dialog-all", "shell-open", "clipboard-write-text", "http-all", "fs-all", "updater"] }
tauri-plugin-deep-link = "0.1"
tauri-plugin-fs-watch = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-store = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-window-state = "0.1"
thiserror = "1.0"
tokio = { version = "1", features = ["time"] }
vault = "8"
window-shadows = "0.2"
# monitoring by sentry
sentry = "0.32.2"
# For the OBS interface we need to expose webserver
tiny_http = "0.11"

[dev-dependencies]
criterion = { version = "0.4", features = ["html_reports"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

[[bench]]
name = "parse_log_file_reverse"
harness = false
