name: "publish"
on:
  push:
    tags:
      - "*"

jobs:
    publish-tauri:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 20

            - name: Cache node modules
              uses: actions/cache@v4
              env:
                cache-name: cache-node-modules-v1
              with:
                path: |
                  node_modules
                key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
                restore-keys: |
                  ${{ runner.os }}-build-${{ env.cache-name }}-

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: Rust cache
              uses: swatinem/rust-cache@v2
              with:
                workspaces: './src-tauri -> target'

            - name: Yarn install FE dependencies
              run: yarn --prefer-offline --frozen-lockfile --network-timeout 1000000 install

            - name: "Build and release the app"
              uses: tauri-apps/tauri-action@v0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
                  TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
                  TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
                  TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD}}
              with:
                  tagName: __VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
                  releaseName: "__VERSION__"
                  releaseBody: "See the assets to download this version and install."
                  releaseDraft: true
                  prerelease: false

            - name: Download WebView2 Runtime
              run: |
                Invoke-WebRequest -Uri "http://assets.coh3stats.com/webview/WebView2.136.0.3240.92.x64.cab" -OutFile "WebView2.136.0.3240.92.x64.cab"
              shell: powershell

#            - name: "Full Bundle Tauri Release"
#              run: |
#                rm ./src-tauri/tauri.conf.json
#                mv ./src-tauri/full-bundle-tauri.conf.json ./src-tauri/tauri.conf.json

#            - name: "Build and release the app"
#              uses: tauri-apps/tauri-action@v0
#              env:
#                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#                TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
#                TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
#              with:
#                tagName: __VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
#                releaseName: "__VERSION__"
#                releaseBody: "See the assets to download this version and install."
#                releaseDraft: true
#                prerelease: false
#                includeUpdaterJson: false
